= form_for [@diary.user, @diary, @comment], role:"form", html:{method: method, class:"col-xs-6"} do |f|
  = render partial: "error_messages", locals:{object: @comment}  
  .form-group
    = f.label :body, "本文"
    = f.text_area :body, class: "form-control", rows:5
  .form-group
    = f.submit title, class: "form-control"

