.diary-info
  - if diary.user.profile_image?
    = image_tag diary.user.profile_image.small.url, class: "round-profile"
  = link_to_user(diary.user)
  .label.label-info= "#{time_ago_in_words(diary.created_at)} 前"
  .label.label-info(id="like-count-diary-#{diary.id}")= render partial: "diaries/like_count", locals:{diary: diary}
  .label.label-info= render partial: "diaries/comment_count", locals:{diary: diary}
