%h1= "#{@user.email}の日記"

%ul.diary-list
  - @diaries.each do |d|
    %li.row
      .col-xs-6
        = link_to d.title, user_diary_path(@user, d)
        %span.label.label-primary(id="like-count-diary-#{d.id}")= render partial: "like_count", locals:{diary: d}
        %span.label.label-default= "#{time_ago_in_words(d.created_at)} ago"
      .col-xs-6
        = render partial: "links", locals:{user: @user, diary: d}
