%h1= @diary.title

%div= @diary.htmlized_body

= render partial: "diaries/links", locals:{user: @user, diary: @diary, show_index_link: true}

%h2 コメント

%ul
  - @diary.comments.each do |comment|
    %li
      = comment.htmlized_body
      by 
      = comment.commenter.display_name
      - if comment.commenter = current_user
        = link_to "編集", edit_user_diary_comment_path(@user, @diary, comment), role: "button", class:"btn btn-primary"
        = link_to "削除", user_diary_comment_path(@user, @diary, comment), method: :delete, data: { confirm: 'Are you sure?' }, role: "button", class:"btn btn-danger"


= render partial:"comments/form", locals:{title:"投稿する", method: :post}
