.diary-single
  .diary-header
    %h3= @diary.title
    = render partial: "diaries/diary_info", locals: {diary: @diary}
  .diary-body
    = @diary.htmlized_body
  = render partial: "diaries/links", locals:{user: @user, diary: @diary}


- if @diary.likes.any?
  %h2 Good!
  %ul.like-list.plain-list
    = render @diary.likes
  

%h2 コメント

%ul.comment-list.plain-list
  = render @diary.comments

= render partial:"comments/form", locals:{title:"投稿する", method: :post}
