.diary-single
  .header
    %h3= @diary.title
    = render partial: "diaries/diary_info", locals: {diary: @diary}
  .body
    = @diary.htmlized_body
  = render partial: "diaries/links", locals:{user: @user, diary: @diary}

%h2 Good

%ul.like-list.plain-list
  - @diary.likes.each do |like|
    #{like.user.name}さんがGood!しました
    .label.label-info #{time_ago_in_words(like.created_at)} 前

%h2 コメント

%ul.comment-list.plain-list
  - @diary.comments.each do |comment|
    %li
      .body
        = comment.htmlized_body
      .footer
        by 
        = comment.commenter.name
        .label.label-info #{time_ago_in_words(comment.created_at)} 前
        - if comment.commenter = current_user
          = link_to "編集", edit_user_diary_comment_path(@user, @diary, comment), role: "button", class:"btn btn-primary btn-xs"
          = link_to "削除", user_diary_comment_path(@user, @diary, comment), method: :delete, data: { confirm: 'Are you sure?' }, role: "button", class:"btn btn-danger btn-xs"

= render partial:"comments/form", locals:{title:"投稿する", method: :post}
