%div.devise
  %h2
    ユーザー情報
  - if @user.profile_image?
    %div= image_tag @user.profile_image.medium.url
    = link_to "削除する", users_remove_profile_path(@user)
  - else
    = image_tag asset_path("defaults/profile_small.png")
    
  = form_for(@user, html:{ method: :put, role: "form" }) do |f|
    = render partial: "error_messages", locals:{object: @user}
    .form-group
      = f.label :profile_image, "プロフィール画像"
      = f.file_field :profile_image, class:"form-control"
      = f.hidden_field :profile_image_cache
    .form-group
      = f.label :name, "ニックネーム"
      = f.text_field :name, :autofocus => true, class:"form-control"
    .form-group
      = f.label :ship_name, "配送先お名前"
      = f.text_field :ship_name, class:"form-control"
    .form-group
      = f.label :ship_zip_code, "郵便番号"
      = f.text_field :ship_zip_code, class:"form-control"
    .form-group
      = f.label :ship_address, "ご住所"
      = f.text_field :ship_address, class:"form-control"
    .form-group
      = f.submit "更新", class:"btn btn-primary"
