%ul.product-list
  = render @purchase.purchase_products
%h2= "小計 #{@purchase.product_price} 円"
%h2= "送料 #{@purchase.shipping_cost} 円"
%h2= "代引き手数料 #{@purchase.cash_on_delivery} 円"
%h2= "税込み #{@purchase.total_price_with_tax} 円"
