%h1= "ユーザー#{@user.id}の情報"

%div
  = link_to "編集", edit_admins_user_path(@user), class: "btn btn-primary", role: "button"
  = link_to "削除", admins_user_path(@user), class: "btn btn-danger", role: "button", method: :delete, data: {confirm: "Are you sure?"}


%table.table.table-condensed
  - User.column_names.each_with_index do |name, idx|
    %tr
      %td= name
      %td
        - if name == "profile_image"
          = @user.profile_image? ? image_tag(@user.profile_image.small.url) : ""
        - else
          = @user.attributes.values[idx]
