!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "さくらマーケット"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'nav'
    .container
      = render partial: 'notice_and_alert'
      - if user_signed_in?
        .row
          .col-xs-3
            = render "left_column"
          .col-xs-9
            = yield
      - else
        = yield
